[submodule "depend/OpenSplat"]
	path = video/depend/OpenSplat
	url = https://github.com/pierotofy/OpenSplat.git
[submodule "depend/openMVG"]
	path = video/depend/openMVG
	url = https://github.com/openMVG/openMVG.git
