[submodule "depend/OpenSplat"]
	path = depend/OpenSplat
	url = https://github.com/pierotofy/OpenSplat.git
[submodule "depend/openMVG"]
	path = depend/openMVG
	url = https://github.com/openMVG/openMVG.git
